body{
  padding-top: 5%;
  font-family: drclFont;
  background-color: #ffffff;
  /* background-image: url(img/bck.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

p{
  color: #010101;
}

.pink{
  color : #396398;
}

#style-img{
  width: 20%;
  height: 20%;
}
#style-img-singer{
  width: 20%;
  height: 20%;
}

#compt{
  transform: translateY(40px);
  font-size: 80px;
}
#machine{
    padding: 0 40%;
}
.machine-inner{
    width : 200px;
}
.imp_txt{
  font-size: 50px;
}

.text{
  font-size: 32px;
}

@font-face {
  font-family: drclFont;
  src: url(font/NimbusSansDOT-UltrLigh.otf);
}
